@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap");
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Anonymous Pro", monospace;
}

a {
  text-decoration: none;
}
/* container */
.container {
  overflow: hidden;
  width: 100%;
}
.container-fluid {
  width: 100%;
}
.m-div {
  margin: 5px 5px;
}
.row {
  margin-top: 15px;
  margin-bottom: 15px;
}
.h-100 {
  height: 100%;
}
/* column */
.column {
  width: 100%;
  display: block;
}
.con-center {
  max-width: 1100px;
  margin: 0 auto;
}
.col-center {
  min-width: 500px;
  margin: 0 auto;
}
.column-padding {
  padding: 25px;
}
.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: nowrap;
}
@media (min-width: 992px) {
  .flex-between-lg {
    justify-content: space-between;
  }
}
.flex-between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.f-row-reverse {
  flex-direction: row-reverse;
}
@media (min-width: 768px) {
  .align-items-center {
    align-items: center;
  }
}
@media (min-width: 768px) {
  .flex-row {
    display: flex;
    flex-direction: row;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-item {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}
.flex-row-force {
  display: flex;
  flex-direction: row;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.margin-15b {
  margin-bottom: 15px;
}
.margin-50b {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* sm */
@media (min-width: 250px){
  .col-sp-6{
    width: calc(100% / 12 * 6);
  }
}
@media (min-width: 576px) {
  .col-sm-12 {
    width: calc(100% / 12 * 12);
  }
  .col-sm-11 {
    width: calc(100% / 12 * 11);
  }
  .col-sm-10 {
    width: calc(100% / 12 * 10);
  }
  .col-sm-9 {
    width: calc(100% / 12 * 9);
  }
  .col-sm-8 {
    width: calc(100% / 12 * 8);
  }
  .col-sm-7 {
    width: calc(100% / 12 * 7);
  }
  .col-sm-6 {
    width: calc(100% / 12 * 6);
  }
  .col-sm-5 {
    width: calc(100% / 12 * 5);
  }
  .col-sm-4 {
    width: calc(100% / 12 * 4);
  }
  .col-sm-3 {
    width: calc(100% / 12 * 3);
  }
  .col-sm-2 {
    width: calc(100% / 12 * 2);
  }
  .col-sm-1 {
    width: calc(100% / 12 * 1);
  }
}
/* md */
@media (min-width: 768px) {
  .col-md-1 {
    width: calc(100% / 12 * 1);
  }
  .col-md-2 {
    width: calc(100% / 12 * 2);
  }
  .col-md-3 {
    width: calc(100% / 12 * 3);
  }
  .col-md-4 {
    width: calc(100% / 12 * 4);
  }
  .col-md-5 {
    width: calc(100% / 12 * 5);
  }
  .col-md-6 {
    width: calc(100% / 12 * 6);
  }
  .col-md-7 {
    width: calc(100% / 12 * 7);
  }
  .col-md-8 {
    width: calc(100% / 12 * 8);
  }
  .col-md-9 {
    width: calc(100% / 12 * 9);
  }
  .col-md-10 {
    width: calc(100% / 12 * 10);
  }
  .col-md-11 {
    width: calc(100% / 12 * 11);
  }
  .col-md-12 {
    width: calc(100% / 12 * 12);
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: calc(100% / 12);
  }
  .col-lg-2 {
    width: calc(100% / 12 * 2);
  }
  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }
  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }
  .col-lg-5 {
    width: calc(100% / 12 * 5);
  }
  .col-lg-6 {
    width: calc(100% / 12 * 6);
  }
  .col-lg-7 {
    width: calc(100% / 12 * 7);
  }
  .col-lg-8 {
    width: calc(100% / 12 * 8);
  }
  .col-lg-9 {
    width: calc(100% / 12 * 9);
  }
  .col-lg-10 {
    width: calc(100% / 12 * 10);
  }
  .col-lg-11 {
    width: calc(100% / 12 * 11);
  }
  .col-lg-12 {
    width: calc(100% / 12 * 12);
  }
}

/* xl */
@media (min-width: 1200px) {
  .col-xl-1 {
    width: calc(100% / 12);
  }
  .col-xl-2 {
    width: calc(100% / 12 * 2);
  }
  .col-xl-3 {
    width: calc(100% / 12 * 3);
  }
  .col-xl-4 {
    width: calc(100% / 12 * 4);
  }
  .col-xl-5 {
    width: calc(100% / 12 * 5);
  }
  .col-xl-6 {
    width: calc(100% / 12 * 6);
  }
  .col-xl-7 {
    width: calc(100% / 12 * 7);
  }
  .col-xl-8 {
    width: calc(100% / 12 * 8);
  }
  .col-xl-9 {
    width: calc(100% / 12 * 9);
  }
  .col-xl-10 {
    width: calc(100% / 12 * 10);
  }
  .col-xl-11 {
    width: calc(100% / 12 * 11);
  }
  .col-xl-12 {
    width: calc(100% / 12 * 12);
  }
}

/* xxl */

@media (min-width: 1400px) {
  .col-xxl-1 {
    width: calc(100% / 12);
  }
  .col-xxl-2 {
    width: calc(100% / 12 * 2);
  }
  .col-xxl-3 {
    width: calc(100% / 12 * 3);
  }
  .col-xxl-4 {
    width: calc(100% / 12 * 4);
  }
  .col-xxl-5 {
    width: calc(100% / 12 * 5);
  }
  .col-xxl-6 {
    width: calc(100% / 12 * 6);
  }
  .col-xxl-7 {
    width: calc(100% / 12 * 7);
  }
  .col-xxl-8 {
    width: calc(100% / 12 * 8);
  }
  .col-xxl-9 {
    width: calc(100% / 12 * 9);
  }
  .col-xxl-10 {
    width: calc(100% / 12 * 10);
  }
  .col-xxl-11 {
    width: calc(100% / 12 * 11);
  }
  .col-xxl-12 {
    width: calc (100%/12 * 12);
  }
}
.btn-hero,
.btn,
.btn-rev,
.btn-2 {
  background-color: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
.btn-hero {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 50px;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  letter-spacing: 0.03125em;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
}
.btn-hero:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #bffcff;
  border: 1px solid #bffcff;
  font-weight: 600;
  width: 150px;
  letter-spacing: 0.03125em;
  padding: 0.6875rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
}
.btn:hover {
  background-color: #86eef37a;
  cursor: pointer;
}
.btn-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  border: 1px solid #2d2b2c;
  font-weight: 600;
  width: 150px;
  letter-spacing: 0.03125em;
  padding: 0.6875rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
}
.btn-2:hover {
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}
.btn-rev {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(33, 185, 190);
  border: 1px solid rgb(33, 185, 190);
  font-size: 14px;
  font-weight: 600;
  width: 130px;
  padding: 10px 10px;
}
.btn-rev:hover {
  background-color: #86eef37a;
  cursor: pointer;
}

/* Rating codepen */
.rate {
  float: left;
  width: 100%;
  height: 16px;
  padding: 0 10px;
  line-height: 14px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 16px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: skyblue;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: skyblue;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: black;
}
/* Rating codepen-end */
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.hero-content {
  width: 360px;
  height: 300px;
  left: 0;
  /* transform: translateX(50%) translateY(50%); */
  padding: 25px;
  margin-top: 150px;
  margin-bottom: 90px;
}
h1 {
  color: white;
  font-size: 45px;
  text-align: left;
}
#sect-4 h2{
  color: #bffcff;
  text-align: left;
}
h2 {
  padding: 10px;
  color: black;
  font-size: 10vw;
  text-align: left;
  line-height: 65px;
}
@media (min-width: 768px) {
  h2 {
    padding: 10px;
    color: black;
    font-size: 60px;
    text-align: left;
    line-height: 65px;
  }
}
h6 {
  color: white;
  font-size: 15px;
}
.wh100 {
  width: 100%;
  height: 100%;
}
.hero-bg {
  width: 100%;
  height: 100%;
  min-height: 300px;
  background-image: url(../img/heroBanner_1728x.jpg);
  background-position: -500px center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 576px) {
  .hero-bg {
    background-image: url(../img/heroBanner_1728x.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.contain-logo {
  width: 230px;
  height: 120px;
}
.logo {
  width: 100%;
  height: 100%;
  background-image: url(../img/logo-spotify-amazonmusic-stacked.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.cart-logo-contain{
  width: 100%;
  height: 100%;
}
.cart-logo{
  padding: 5px 5px;
  width: 30px;
  height: 30px;
  background-image: url(../img/shopping-cart.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
#sect-1 .title {
  text-align: left;
  font-size: 65px;
  line-height: 65px;
  color: #242a36;
}
#sect-1 .subtitle {
  font-size: 20px;
  line-height: 20px;
  color: #242a36;
}
@media (max-width: 576px) {
  #sect-1 .title {
    font-size: 35px;
    line-height: 35px;
    color: #242a36;
  }
  #sect-1 .subtitle {
    font-size: 15px;
    line-height: 15px;
    color: #242a36;
  }
}
#sect-2 h3 {
  padding: 10px;
  font-size: 22px;
}
#sect-2 p {
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
  margin-right: 50px;
  min-height: 75px;
  color: #242a36;
}
#sect-4 h3 {
  font-size: 18px;
}
#sect-4 p {
  padding: 10px;
  font-size: 14px;
}
.underline {
  text-decoration: underline;
}
.content-ratings {
  cursor: pointer;
  max-width: 1100px;
}
.img-gif {
  max-width: 200px;
  max-height: 200px;
}
.img-fit {
  width: 100%;
  max-width: 400px;
  min-height: 300px;
  height: 450px;
}
.gallery-info {
  margin-top: 20px;
  max-width: 400px;
  width: 100%;
}
.img-fit-album {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
}
.img-pad,
#sect-2 h3,
#sect-2 p {
  padding: 20px 10px;
}
#sect-6 .community {
  padding: 25px;
}
.img-community {
  background-image: url(../img/img-community.jpeg);
  background-position: center center;
  background-size: cover;
  width: 420px;
  height: 340px;
  margin: 20px auto;
}
.content {
  width: 100%;
  max-width: 750px;
}

/* Bar Graph Horizontal */
.rab {
  margin: 0 3px;
  min-width: 150px;
  border: 2px solid lightgray;
}
.bar-graph .year {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  opacity: 0;
}

.bar-graph-horizontal {
  max-width: 150px;
}

.bar-graph-horizontal > div {
  margin-bottom: 8px;
  width: 100%;
}

.bar-graph-horizontal .year {
  margin-top: 18px;
  width: 50px;
}

.bar-graph-horizontal .bar {
  height: 14px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  width: 0;
}

.bar-graph-one .bar::after {
  -webkit-animation: fade-in-text 2.2s 0.1s forwards;
  -moz-animation: fade-in-text 2.2s 0.1s forwards;
  animation: fade-in-text 2.2s 0.1s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  position: absolute;
  right: 16px;
  top: 17px;
}

.bar-graph-1 .bar-1 .bar {
  background-color: #00c2f4;
  -webkit-animation: show-bar-1 1.2s 0.1s forwards;
  -moz-animation: show-bar-1 1.2s 0.1s forwards;
  animation: show-bar-1 1.2s 0.1s forwards;
}
.bar-graph-2 .bar-2 .bar {
  background-color: #00c2f4;
  -webkit-animation: show-bar-2 1.2s 0.1s forwards;
  -moz-animation: show-bar-2 1.2s 0.1s forwards;
  animation: show-bar-2 1.2s 0.1s forwards;
}
.bar-graph-3 .bar-3 .bar {
  background-color: #00c2f4;
  -webkit-animation: show-bar-3 1.2s 0.1s forwards;
  -moz-animation: show-bar-3 1.2s 0.1s forwards;
  animation: show-bar-3 1.2s 0.1s forwards;
}
.bar-graph-4 .bar-4 .bar {
  background-color: #00c2f4;
  -webkit-animation: show-bar-4 1.2s 0.1s forwards;
  -moz-animation: show-bar-4 1.2s 0.1s forwards;
  animation: show-bar-4 1.2s 0.1s forwards;
}
.bar-graph-5 .bar-5 .bar {
  background-color: #00c2f4;
  -webkit-animation: show-bar-5 1.2s 0.1s forwards;
  -moz-animation: show-bar-5 1.2s 0.1s forwards;
  animation: show-bar-5 1.2s 0.1s forwards;
}

/* Bar Graph Horizontal Animations */
@-webkit-keyframes show-bar-1 {
  0% {
    width: 0;
  }
  100% {
    width: 78%;
  }
}
@-webkit-keyframes show-bar-2 {
  0% {
    width: 0;
  }
  100% {
    width: 16%;
  }
}
@-webkit-keyframes show-bar-3 {
  0% {
    width: 0;
  }
  100% {
    width: 4%;
  }
}
@-webkit-keyframes show-bar-4 {
  0% {
    width: 0;
  }
  100% {
    width: 2%;
  }
}
@-webkit-keyframes show-bar-5 {
  0% {
    width: 0;
  }
  100% {
    width: 1%;
  }
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.date {
  width: 100px;
  font-size: 12px;
}
.address,
.date {
  color: gray;
}
.content {
  color: black;
}
.actions img {
  width: 30px;
  height: 25px;
  padding: 4px 6px;
}
.actions span {
  padding: 0 5px;
  line-height: 25px;
}
@media (min-width: 576px) {
  #reviews {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 8px;
  }
}
select,
option {
  font-size: 12px;
  color: rgba(17, 17, 17, 0.7);
  border: 1px solid rgba(128, 128, 128, 0.507);
  border-radius: 4px;
  outline: none;
  width: 100%;
  max-width: 110px;
  height: 40px;
}
.div-top {
  content: "";
  font-size: 16px;
  border-top: 1px solid black;
  width: 100%;
  margin-top: 16px;
  padding-bottom: 16px;
}
#sect-4 {
  padding: 70px 0;
  color: #bffcff;
  background: #2e4154;
}
#sect-3{
  margin: 120px 0;
}
#sect-3 h4 {
  padding-left: 10px;
}
#sect-3 .content p {
  padding: 10px;
}
#sect-3 h3 {
  padding: 10px;
  font-size: 20px;
}
#sect-7 {
  color: #fafbfc;
  background: #242a36;
}
#sect-1,
#sect-2,
#sect-4,
#sect-5{
  margin-bottom: 40px;
}
#sect-1,
#sect-2,
#sect-4,
#sect-5,
#sect-6 {
  margin-top: 80px;
}
#sect-4 h3,
#sect-4 p {
  padding: 10px 10px;
  height: min-content;
}
#sect-5
#sect-6 {
  background-color: #dde1eb;
}
.quote {
  font-size: 20px;
  line-height: 25px;
  width: 300px;
}
@media (max-width: 768px){
  .quote{
    margin: 0 auto;
  }
  .img-blk{
    margin: 0 auto;
  }
}
.quote-img {
  width: 300px;
  height: 18px;
}
.form-control {
  padding: 10px 0;
}
@media (min-width: 576px) {
  .form-control {
    padding: 10px 10px;
    max-width: 350px;
  }
}
#email {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0.6875rem 1rem;
  height: 40px;
  outline: none;
}

/* Footer */
#sect-8{
  padding: 30px 0 40px;
}
ul,
#sect-8 h3 {
  list-style-type: none;
  text-align: left;
}
li {
  height: 30px;
  font-weight: 500;
  line-height: 18px;
  font-size: 15px;
  color: #afb7c7;
  margin-bottom: 5px;
}
.footer-logo {
  background-image: url(../img/m-logo-mwave.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 52px;
  height: 50px;
}
.pad-25 {
  padding: 0 25px;
}
.pad-tb {
  padding-top: 80px;
  padding-bottom: 30px;
}
.w200 {
  width: 100%;
  min-width: 180px;
}
.h200 {
  height: 100%;
  min-height: 700px;
}
.f1 {
  margin-top: 20px;
  color: #242a36;
  font-size: 22px;
}
.f2 {
  margin-top: 20px;
  color: #242a36;
  font-size: 14px;
}
